[user]
  name = togatoga
  email = togasakitogatoga@gmail.com
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto

[grep]
  lineNumber = true

[alias]
  s   = status
  st  = status
  ss  = status -s
  sh  = show
  so  = remote show origin

  a   = add
  ad  = add
  au  = !git add -u && git status
  c   = commit
  ca  = commit --amend
  cm  = commit -m
  cmb = "!f () { git commit -m \"$1 ($(git branch -a | grep '^*' | cut -b 3-))\";}; f"

  b   = branch
  ba  = branch -a
  br  = branch -r

  # https://github.com/paulirish/git-open
  o = open

  co  = checkout
  cb  = checkout -b
  develop = checkout develop
  master = checkout master

  d   = diff
  dc  = diff --cached
  ds  = diff --staged
  dn  = diff --name-only
  dm  = diff master
  d1  = diff HEAD~
  d2  = diff HEAD~~
  d3  = diff HEAD~~~
  d4  = diff HEAD~~~~
  d5  = diff HEAD~~~~~


  l   = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
  ll  = log --stat --abbrev-commit
  l1  = log --stat --abbrev-commit -n 1

  gr  = grep
  gn  = grep -n

  alias  = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ => \\2/' | sort
[ghq]
    root = ~/src
