[Unit]
Description=xremap

[Service]
Restart=always
ExecStart=/home/togatoga/.cargo/bin/xremap --watch /home/togatoga/dotfiles/xremap/config.yml
User=root
Group=root

[Install]
WantedBy=default.target
