[Unit]
Description=xremap

[Service]
KillMode=process
ExecStart=/home/togatoga/.cargo/bin/xremap /home/togatoga/dotfiles/xremap/config.yml
ExecStop=/usr/bin/killall xremap
Restart=always

[Install]
WantedBy=default.target