[Unit]
Description=xremap gnome

[Service]
KillMode=process
ExecStart=/home/togatoga/.cargo/bin/xremap --watch /home/togatoga/dotfiles/xremap/config.yml
Type=simple
Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
